################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DaLazyDog/bin/Debug/netcoreapp2.2
/.vs
/DaLazyDog/obj
/Lazydog.Model/obj
/Lazydog.Model/bin/Debug/netstandard2.0
/Lazydog.mysql/obj
/Lazydog.mysql/bin/Debug/netstandard2.0
/Lazydog.mysql.test/obj
/Lazydog.mysql.test/bin/Debug/netcoreapp2.2
/Lazydog.model.Service.Test/bin/Debug/netcoreapp2.2
/Lazydog.model.Service.Test/obj
/DaLazyDog/bin/Release/netcoreapp2.2
/Lazydog.Model/bin/Release/netstandard2.0
/Lazydog.mysql/bin/Release/netstandard2.0
/DaLazyDog/Properties/PublishProfiles
/DaLazyDog/bin/Debug/net6.0
/Lazydog.model.Service.Test/bin/Debug/net6.0
/Lazydog.mysql.test/bin/Debug/net6.0
/DaLazyDog/bin/Release/net6.0
/Lazydog.Model/bin/Release/netstandard2.1
/Lazydog.mysql/bin/Release/netstandard2.1
