@model IEnumerable<Lazydog.Model.LetterTemplate>
<input type="hidden" id="Excuses" value="Excuse" name="Excuse" />
<table class="table">
    <caption>Other letter templates</caption>
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                  
                    <a href="@String.Concat("../MakeLetter/",item.ID.ToString(),"?excuseName=")" class="make-letter" data-name="@Html.Raw(item.Name)"> Make Letter</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
    {

    <script src="~/tsCompiled/LetterMaker.js"></script>
    <script>
        $(".make-letter").click(function (item) {
            $(this).attr("href", $(this).attr("href") + $("#Excuses").val());
        });
        
    </script>
}