@inject DaLazyDog.Models.CultureLocalizer SharedLocalizer
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@SharedLocalizer.Localize("ErrorHead")</h1>
<h2 class="text-danger">@SharedLocalizer.Localize("ErrorDesc")</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}