
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<DaLazyDog.Resources.SharedResources> SharedLocalizer
@model IEnumerable<Lazydog.Model.LocalizationCulture>

@{
    ViewData["Title"] = "Index";
}

<h1>@SharedLocalizer["Cultures"]</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-3 col-sm-4">
            @Html.DisplayFor(modelItem => item.CultureCode)
        </div>
    }
</div>

