
@{
    ViewData["Title"] = "Animations";
}
<link href="~/css/CommonAnimations.min.css" rel="stylesheet" />
<h1>Animations</h1>

<div class="row">
    <div class="col-sm-8 ry">
        What?
    </div>
    <div class="col-sm-4 contrast">
        Why?
    </div>
</div>
<div class="row">
    <div class="split-left">
        Hello World
    </div>
    <div class="split-right">
       is the default start
    </div>
</div>