@{
    ViewData["Title"] = "The Lazy Dog";
}

<div class="text-center excuse-panel">
    <h1 class="display-4 text-primary">Welcome to the Lazy Dog</h1>
    <a class="btn excuse-btn btn-primary text-white">Get Sample Excuse</a>
    <hr/>
    <p><h2 class="excuse display-4"></h2></p>
</div>
<div class="row">
    <div class="col-xs-12">
        <p class="excuse-description"></p>
    </div>
</div>
