@{
    ViewData["Title"] = "The Lazy Dog";
}

<div class="text-center excuse-panel">
    <h1 class="display-4">Welcome to the Lazy Dog</h1>
    <a class="btn excuse-btn btn-info">Get Sample Excuse</a>
    <p><h2 class="excuse"></h2></p>
</div>
