div.letter-content {
  background: #fff;
  transition: box-shadow .25s;
  padding: 20px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.generatedText {
  font-size: 1.7em;
  font-family: 'Garamond',Verdana, Geneva, Tahoma, sans-serif;
  transition: font-size 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  @media only screen and (max-width: 600px) {
    .generatedText {
      font-size: 1.5em; } }
