/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.hidden{
    display:none;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
.excuse-description{
    font-size:21px;
}
.excuse{
    font-weight:bolder;
}
.letter-control {
    margin: .15em .25em;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

div.white-space-pre-line {
    white-space: pre-line;
}
button.btn, .btn {
    line-height: 56px;
    margin-right: 10px;
    margin-bottom: 10px;
    white-space: nowrap
}
.btn-primary.btn{
    font-size:21px;
}
a.primary-btn.btn, .primary-btn.btn {
    background: #fd7700
}

a.second-prim-btn.btn, .second-prim-btn.btn {
    background: #122f52
}
li.clickable {
    cursor: pointer;
    color: #3030f1;
    list-style: square;
    font-size: 1.2rem;
}